.formel{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    width: 100vw;
    /* margin: auto; */
    /* align-items: center; */
}

 .labeldiv{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    
}

label{
    width:110px;
    /* flex-basis: 20%; */
}

.formsub{
    width: 55px;
    align-self: center;
    margin: 15px;
    background-color: rgb(46, 194, 145);
    border-radius: 15px;
}

.labeldiv input:focus{
    outline: 2px solid blue;
    
}

/* .labeldiv input{
    width: 150px;
} */