.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbox button{
    margin: 5px;
}

.searchbox input{
    width: 250px;
}

.additem{
    height: 450px;
    width: 600px;
    margin: auto;
    position: relative;
    border: 2px solid black;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 18, 146);
    color: azure;
    align-items: center;
}

.newad{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}