:root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.light{
  background-color: rgb(147, 153, 60);
}

.dark{
  background-color: rgb(30, 30, 30);
  color: white;
}